.face {
	height: 315px;
	width: 315px;
}

h1, h2 {
	font-family: Calibri, Optima, Candara, Verdana, Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}

#chartContainer, #chartContainerYN {
	height: 300px; 
	width: 100%;
	display: inline-Block;
}

button {
	border-radius: 12px;
	background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
